/* Hero Container  */
.hero_container {
  background-image: url("../img/banner-bg-image@2x.png");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.hero_container .box {
  background-color: rgba(61, 60, 42, 0.7);
  padding: 1rem;
  width: max-content;
}
.hero_container .box h2 {
  color: #aad5d3;
  font-family: "Domine", serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 5rem;
}
.hero_container .box p {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2rem 0;
  max-width: 70%;
}
.hero_container .box button {
  background: #aad5d3;
  color: #111827;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  padding: 0.2rem 0.4rem;
  transition: 0.3s;
}
.hero_container .box button:hover {
  background: #111827;
  color: #ffffff;
}

/* Blogs Container  */
.blogs_Container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.blog_heading {
  color: #111827;
  font-family: "Domine", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  padding-left: 0.5rem;
}
.blogs {
  background: #fff;
}
.blog {
  border: 1px solid #9ca3af;
  border-radius: 4px;
  margin-bottom: 2rem;
}
.blogs .blog_child1 {
  display: flex;
  padding: 1rem;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 1rem;
}
.blogs .blog_child1 .child1_content {
  flex: 60%;
  box-sizing: border-box;
}
.blog_child1 .child1_content h4 {
  color: #8b4448;
  font-family: "Domine", serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 0.7rem;
}
.blog_child1 .child1_content p {
  color: #111827;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.blog_child1 .blog_image {
  flex: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.blog_child1 .blog_image img {
  width: 350px;
  height: 188px;
  object-fit: cover;
}
.blogs .blog_child2 {
  border-radius: 0px 0px 4px 4px;
  background: #f3f4f6;
  display: flex;
  justify-content: end;
  padding: 1rem 4.2rem;
  gap: 3rem;
}

.blogs .blog_child2 .editor {
  color: #111827;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}
.blogs .blog_child2 .text {
  color: #111827;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}
.blogs .blog_child2 .stars {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.blogs .blog_child2 .stars img {
  width: 18.311px;
  height: 18.172px;
}

/* Footer styling  */

/* @media Query For responsive design  */
@media screen and (max-width: 968px) {
  .hero_container .box h2 {
    font-size: 70px;
  }
  .hero_container .box p {
    font-size: 15px;
  }
  .blog_child1 .child1_content h4 {
    font-size: 19px;
    padding: 0.7rem 0;
  }
  .blog_child1 .child1_content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* ========================= hero container for responsive  */
  .hero_container {
    background-position: center;
  }

  .hero_container .box {
    max-width: 70%;
    padding: 1rem;
  }
  .hero_container .box h2 {
    font-size: 40px;
    line-height: 4rem;
  }
  .hero_container .box p {
    font-size: 15px;
    padding: 1rem 0;
    max-width: 100%;
  }

  /* ================================= Blogs Container  */
  .blog_heading {
    font-size: 30px;
  }
  .blogs {
    border-radius: 4px;
    border: 1px solid #9ca3af;
    background: #fff;
  }
  .blogs .blog_child1 {
    display: block;
    padding: 1rem;
    gap: 2rem;
  }
  .blogs .blog_child1 .child1_content {
    padding: 0px;
  }

  .blog_child1 .blog_image {
    margin-top: 2rem;
  }
  .blog_child1 .blog_image img {
    max-height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  /* ======= Blog  */
  .blog_heading {
    font-size: 25px;
  }
  .blog_child1 .child1_content h4 {
    font-size: 20px;
    padding: 1rem 0;
  }
  .blog_child1 .child1_content p {
    font-size: 15px;
  }
  .blog_child1 .blog_image img {
    max-height: 200px;
  }

  .blogs .blog_child2 {
    padding: 1.2rem;
    gap: 1rem;
    justify-content: center;
  }
  .blogs .blog_child2 .editor {
    font-size: 13px;
  }
  .blogs .blog_child2 .text {
    font-size: 13px;
  }
  .blogs .blog_child2 .stars img {
    width: 15px;
  }
  /* footer  */
  .footer {
    padding: 2rem 1rem;
  }
  .footer h2 {
    font-size: 25px;
  }
  .footer a {
    font-size: 15px;
    padding: 0.7rem;
  }

  .footer p {
    font-size: 15px;
  }
}
